<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="font-bold font-mona">
      Mad Cat Apparel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="text-3xl font-mona text-primary text-center font-bold mt-5">
    Featured Products
  </h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let product of featuredProducts">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="font-bold font-mona text-primary text-center">
              {{product.name}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img src="./assets/images/{{product.image}}"></ion-img>
          </ion-card-content>
          <div>
            <ion-button class="font-bold font-mona text-primary text-center" expand="block" fill="outline" routerLink="/product/{{product.id}}">
              View Product
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
